# You need to create a file called secret.py that contains your 
# discord token. This is just an example. Replace the tokens with your own !

# the BOT_TOKEN is the Oauth2 token for your bot

BOT_TOKEN: str = "DFHEZRERZQRJTSUPERSECRETTTOKENUTZZH"

# The GUILD_ID is the ID of your Server - in the discord client,
# right click on your server and select " copy ID" to get it

GUILD_ID:  str = "0236540000563456"

# The client ID can be copied from your App settings page and is needed
# to authenticate with the Discord Restful API for Event creation

CLIENT_ID: str = "9990236500564536"